<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5c4033;">
    <a class="navbar-brand text-white font-weight-bold" style="font-size: x-large; font-style: italic;" href="{% url 'home' %}">GeeKoni</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto font-weight-bold text-light">
        <li class="nav-item ">
          <a class="nav-link mx-3 text-light" href="">About <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link mx-3 text-light" href="#">Make a Reservation</a>
        </li> -->
        
        <li class="nav-item">
          <a class="nav-link mx-3 text-light" href="{% url 'customer.menu' %}">Menu</a>
        </li>
        
       

        {% if user.is_authenticated %}
        
          <div class="dropdown">
            <button class="btn btn-warning btn-rounded mx-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome {{user.username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              
              <a class="dropdown-item" href="{% url 'customer.orders' %}">Orders</a>
              <a class="dropdown-item" href="{% url 'customer.reservations' %}">Reservations</a>
              <a class="dropdown-item" href="{% url 'customer.reviews' %}">Reviews</a>
            </div>
          </div>
          

        
        {% else %}
          <li class="nav-item">
          <a class="btn btn-default btn-rounded mx-3 text-light"  data-toggle="modal" data-target="#loginModal" href="#">Log in</a>
        </li>
          <li class="nav-item">
          <a class="btn btn-default btn-rounded mx-3 text-light" data-toggle="modal" data-target="#exampleModal" href="#">Sign up</a>
        </li>

        {% endif %}
            
        <li class="nav-item">
          <a class="btn btn-info btn-rounded mx-3" href="{% url 'customer.reservations' %}">Make a Reservation</a>
        </li>

        
        
          

        
     
  </nav>
