{% extends "base.html" %}

{% block content %} 

{% endblock %}

<div class= "row justify-content-center">
    
    
</div>


<div class="col-lg-12 mt-5">
    <div class="card">
        <div class="card-header bg-white">
            <div class="row">
                <h5>Reviews</h5>

                <a href="#" class="btn btn-info btn-sm ml-auto">
                    <i class="fa fa-plus-circle mr-2"></i>
                    Create Review
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>Message</th>
                        <th>Stars</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        
                        <th>Action</th>
                    </tr>
                </thead>

                
            </table>

        </div>
    </div>
</div>

{% endblock %}