
.bg-dark{
    color: #5c4033 !important
}

.btn-info{
    background-color: #FFFF00;
    color: #5C4033;
    border-color: #FFFF00;

}

/* .cover{
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important; */

/* } */
.bg-image {
    background-image: url(https://images.unsplash.com/photo-1526069631228-723c945bea6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;

  }


  
    



  
