@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    font-family: 'Playfair Display', serif;
}

.bg-dark{
    color: #5c4033 !important
}

.btn-info{
    background-color: #FFFF00;
    color: #5C4033;
    border-color: #FFFF00;

}

/* .cover{
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important; */

/* } */
.bg-image {
    background-image: url('https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;

  }


  
    



  
