{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}






<div class="bg-image">
<div class="container-fluid">
    
    <div class="row mb-5" style="height: 100vh;">
        <div class="col-lg-6 text-dark  py-5 mt-5">
        
    
            <!-- <img class="cover" src="{% static 'images/restaurant-bg.jpg' %}" style="object-fit: cover;"> -->
            <h1 class="mt-10 ml-5 text-white font-weight-bold" style= "font-size:xx-large; font-family:Georgia, 'Times New Roman', Times, serif">-KENYAN FOODS WITH AN EXTRA TWIST-</h1>

            <a href="{% url 'customer.order' %}" class="btn btn-info mt-5 ml-5">ORDER NOW</a>

        </div>
        
    

    </div>
  </div>
</div>




        
<h1 class="mt-10 ml-5 text-dark font-weight-bold font-italic" style= "font-size:xx-large; font-family:Georgia, 'Times New Roman', Times, serif"> CLIENT REVIEWS </h1>   
    <div class= "row justify-content-center mt-3 ">
      <div class="col-lg-3 col-md-4 col-sm-8">
          <div class="card ml-2" style="width: 18rem;">
            <img class="d-block w-30 card-img-top" src="{% static 'images/avatar-1.jpg' %}" alt="Card image cap">
            
            <div class="card-body">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <p class="card-text ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sit consequuntur nostrum accusamus molestiae, cupiditate iusto odio, consectetur id ex laborum modi tempora atque, eveniet consequatur. Veniam qui incidunt reiciendis.</p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8">
          <div class="card" style="width: 18rem;">
            <img class="d-block w-30 card-img-top" src="{% static 'images/avatar-2.jpg' %}" alt="Card image cap">
            
            <div class="card-body">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <p class= " card-text ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sit consequuntur nostrum accusamus molestiae, cupiditate iusto odio, consectetur id ex laborum modi tempora atque, eveniet consequatur. Veniam qui incidunt reiciendis.</p> 
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8">
          <div class="card" style="width: 18rem;">
            <img class="d-block w-30 card-img-top" src="{% static 'images/avatar-3.jpg' %}" alt="Card image cap">
            
            <div class="card-body">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <p class="card-text ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sit consequuntur nostrum accusamus molestiae, cupiditate iusto odio, consectetur id ex laborum modi tempora atque, eveniet consequatur. Veniam qui incidunt reiciendis.</p> 
            </div>
          </div>
        </div>

          
        <div class="col-lg-3 col-md-4 col-sm-8">
          <div class="card" style="width: 18rem;">
            <img class="d-block w-30 card-img-top" src="{% static 'images/avatar-4.jpg' %}" alt="Card image cap">
            
            <div class="card-body">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <p class= "card-text ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sit consequuntur nostrum accusamus molestiae, cupiditate iusto odio, consectetur id ex laborum modi tempora atque, eveniet consequatur. Veniam qui incidunt reiciendis.</p> 
            </div>
          </div>
        </div>
    </div>
       
      






{% endblock %}
