{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}






<div class="bg-image">
<div class="container-fluid">
    
    <div class="row justify-content-center text-center mb-5" style="height: 100vh;">
        <div class="col-lg-6 text-dark  py-5 mt-5">
        
    
            <!-- <img class="cover" src="{% static 'images/restaurant-bg.jpg' %}" style="object-fit: cover;"> -->
            <h5 class="row justify-content-center mt-10 text-light">-Kenyan Foods With an Extra Twist-</h4>

        </div>
        
    

    </div>

</div>
</div>

{% endblock %}
