{% extends 'layouts/base.html' %}
{% load static %}

{% block css %}

<style>
  .banner{
    height: 90vh;
    background-color: #5c4033;
    background-image: url('/static/images/burger.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.banner-heading{
    font-size: 2.5rem !important;
    color: white;
    font-weight: bold;

}
.overlay{
    height: inherit;
    background-color: rgba(0, 0, 0, 0.416);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.banner > .row{
    z-index: 98;
    position: relative;
}
.navbar{
    z-index: 100;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.416); */
}

</style>

{% endblock %}


{% block content %}


<div class="container-fluid banner">
  <div class="overlay"></div>
  <div class="row h-100">
      <div class="col-lg-6 ps-5 d-flex flex-column justify-content-center">
        <small class="text-light font-weight-bold">KENYAN FOODS WITH AN EXTRA TWIST</small>
          <h1 class="banner-heading" id="head1">Make a reservation or order your meal from the comfort of your home</h1>
          <a href="{% url 'customer.order' %}" class="btn btn-warning btn-lg mt-5 ml-5">ORDER NOW</a>
        </div>
  </div>
</div>







        
<h1 class="mt-15 ml-5 text-dark font-weight-bold font-italic" style= "font-size:xx-large; font-family:Georgia, 'Times New Roman', Times, serif"> CLIENT REVIEWS </h1>   
    <div class= "row justify-content-center mt-3 ">
      <div class="col-lg-3 col-md-4 col-sm-8">
          <div class="card ml-2" style="width: 18rem;">
            <img class="d-block w-30 card-img-top" src="{% static 'images/avatar-1.jpg' %}" alt="Card image cap">
            
            <div class="card-body">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <p class="card-text ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sit consequuntur nostrum accusamus molestiae, cupiditate iusto odio, consectetur id ex laborum modi tempora atque, eveniet consequatur. Veniam qui incidunt reiciendis.</p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8">
          <div class="card" style="width: 18rem;">
            <img class="d-block w-30 card-img-top" src="{% static 'images/avatar-2.jpg' %}" alt="Card image cap">
            
            <div class="card-body">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <p class= " card-text ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sit consequuntur nostrum accusamus molestiae, cupiditate iusto odio, consectetur id ex laborum modi tempora atque, eveniet consequatur. Veniam qui incidunt reiciendis.</p> 
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8">
          <div class="card" style="width: 18rem;">
            <img class="d-block w-30 card-img-top" src="{% static 'images/avatar-3.jpg' %}" alt="Card image cap">
            
            <div class="card-body">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <p class="card-text ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sit consequuntur nostrum accusamus molestiae, cupiditate iusto odio, consectetur id ex laborum modi tempora atque, eveniet consequatur. Veniam qui incidunt reiciendis.</p> 
            </div>
          </div>
        </div>

          
        <div class="col-lg-3 col-md-4 col-sm-8">
          <div class="card" style="width: 18rem;">
            <img class="d-block w-30 card-img-top" src="{% static 'images/avatar-4.jpg' %}" alt="Card image cap">
            
            <div class="card-body">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <p class= "card-text ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sit consequuntur nostrum accusamus molestiae, cupiditate iusto odio, consectetur id ex laborum modi tempora atque, eveniet consequatur. Veniam qui incidunt reiciendis.</p> 
            </div>
          </div>
        </div>
    </div>
       
      






{% endblock %}
