{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Menu {% endblock %}

{% block css %}
<style>
    .main-heading{
        color: #5C4033;
    }

    .btn-outline-secondary{
        border-radius: 15px !important;
    }
</style>
{% endblock %}

{% block content %}

<div class= "container pt-5">
    <h1 class="text-center mt-3 font-weight-bold main-heading">Food Menu</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form>
                <div class="form-row">
                  <div class="col-11">
                    <input type="search" class="form-control" placeholder="Search for food">
                  </div>
                  <div class="col-1">
                    <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>
                  </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        {% for category in categories %}

        <button class="btn btn-outline-secondary btn-sm rounded-pill mx-1 my-2">{{category.name}}</span>

        {% endfor %}
    </div>
    <div class="row  mt-3">

        {% for menu in menu_items %}

        <div class="col-lg-3">
            <div class="card">
                <img src="{{menu.image.url}}" class="card-img-top">
                
            </div><span class="badge badge-warning">{{menu.category}}</span></h5>
            <h6 class="mb-0 mt-2">{{menu.item}}</h6>
            <small>${{menu.price}}</small>

        </div>

        {% endfor %}

    </div>
</div>
                            

        
    

{% endblock %}
