{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Menu {% endblock %}

{% block content %}


   <div class="row justify-content-center">

    <div class="col-lg-2 col-md-3 col-sm-6 mt-5 ml-2">
        <div class="card"style="">
            <img class="card-img-top" src="{% static 'images/geekoni1.png'%}" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Beef Samosas</h5>
                        <p class="card-text">Kshs. 500</p>
                            
                </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 mt-5">
        <div class="card"style="">
            <img class="card-img-top" src="{% static 'images/geekoni2.png' %}" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title"> French Fries</h5>
                        <p class="card-text">Kshs. 200</p>
                           
                </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 mt-5">
        <div class="card"style="">
            <img class="card-img-top" src="{% static 'images/geekoni3.png' %}" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title"> Fried Bananas</h5>
                        <p class="card-text">Kshs. 300</p>
                            
                </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 mt-5">
        <div class="card"style="">
            <img class="card-img-top" src="{% static 'images/geekoni4.png' %}" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title"> Fish Fillet</h5>
                        <p class="card-text"> Kshs. 600</p>
                           
                </div>
        </div>
    </div>
    </div>


    <div class="row justify-content-center">

        <div class="col-lg-2 col-md-3 col-sm-6 mt-5 ml-2">
            <div class="card"style="">
                <img class="card-img-top" src="{% static 'images/geekoni5.png'%}" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title"> Soda</h5>
                            <p class="card-text">Kshs. 150</p>
                                
                    </div>
            </div>
        </div>
    
        <div class="col-lg-2 col-md-3 col-sm-6 mt-5">
            <div class="card"style="">
                <img class="card-img-top" src="{% static 'images/geekoni6.png' %}" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title"> Still Water </h5>
                            <p class="card-text">Kshs. 100</p>
                               
                    </div>
            </div>
        </div>
    
        <div class="col-lg-2 col-md-3 col-sm-6 mt-5">
            <div class="card"style="">
                <img class="card-img-top" src="{% static 'images/geekoni7.png' %}" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title"> Sparkling Water</h5>
                            <p class="card-text">Kshs. 150</p>
                                
                    </div>
            </div>
        </div>
    
        <div class="col-lg-2 col-md-3 col-sm-6 mt-5">
            <div class="card"style="">
                <img class="card-img-top" src="{% static 'images/geekoni8.png' %}" alt="Card image cap">
                    <div class="card-body text-center">
                        <h6 class="card-title"> Steamed Vegetables </h6>
                            <p class="card-text"> Kshs. 300</p>
                               
                    </div>
            </div>
        </div>
        </div>

        
    

{% endblock %}
