{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

<div class="container">
<div class="row justify-content-center mx-auto">
<div class="col-lg-6 mt-5 justify-content-center">
    <div class="card"style="width: 18rem;">
        <img class="card-img-top" src="{% static 'images/orders.svg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Order your next meal from the best in town </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{% url 'customer.order' %}" class="btn btn-warning">Make Order</a>
            </div>
    </div>
</div>
</div>
</div>



{% endblock %}
